body{
    margin: 0;
    color: #1a202c;
    background-color: rgba(219, 225, 231, 0.74);
    font-family: Pridi;
    background-size: cover;
    background-image: url("../images/back.jpg");
}

#main{
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#login{
    width: 42%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: #A9A9A9FF -1px 1px 3px -1px;
    font-size: 1.05rem;
    padding: 24px 1%;
}

label{
    margin: 0 8px;
    font-size: 1.2rem;
}

input{
    font-size: 1.1rem;
    border: 1px solid #A9A9A9;
    border-radius: 12px;
    color: #A9A9A9;
    padding: 8px 12px;
    width: 95%;
}
#login div{
    margin: 12px 0;
}

#login div:first-child{
    margin-bottom: 32px;
}
#login button{
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 0;
    margin: 24px 0;
    border-radius: 12px;
    border: unset;
    cursor: pointer;
    background-color: #32C8A7;
    font-family: "Germania One";
    color: #fff;
}

#login button:hover {
    box-shadow: rgba(169, 169, 169, 0.58) 0px 3px 4px 1px;
}

#footer{
    border-top: 4px solid #32C8A7;
    margin-top: 32px;
    height: 146px;
    background-color: #4a5568;
}
