
body{
    margin: 0;
    color: #1a202c;
    background-color: rgba(219, 225, 231, 0.74);
    font-family: Lato;
}

#profile-menu{
    display: none;
    width: 100%;
    justify-content: space-around;
}





#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: #8a8c90 1px 1px 10px;
    color: #4a5568;
    border-bottom: 4px solid #32c8a7;
    font-size: 1.2rem;
    font-family: lato;
    font-weight: 600;
    /*margin: 0 0 32px 0;*/
}

#logo{
    width: 30%;
    font-size: 1.9rem;
    font-weight: 600;
    font-family: "Germania One";
    cursor: pointer;
}
#notifications{
    margin: 0 10px;
}

#messages{
    margin: 0 10px;
}

#info{
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*font-family: "Germania One";*/
}

#info img{
    cursor: pointer;
}

#info svg{
    padding: 0 4px;
}

#profile{
    border-left: 4px solid #32c8a7;
    padding: 2px 2px 2px 12px;
    margin: 4px 0;
}

#profile .info-text{
    margin: 0 15px 0 0;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section {
    background-color: #fff;
    border-radius: 4px;
    font-size: 1.05rem;
    margin: 20px 3%;
}
.center-text{
    justify-content: center;
}
.item-row:first-child{
    user-select: none;
    color: #fff;
    background-color: #32c8a7;
    /*border-radius: 4px 0;*/
    border-radius: 4px 4px 0 0;
    font-family: Lato;
    border-bottom: 0 solid #fff;
}

.item-row {
    padding: 6px 14px;
    color: #A9A9A9FF;
    border-bottom: 1px solid #A9A9A9FF;
    align-items: center;
}

.item{
    width: 20%;
    display: flex;
    align-items: center;
}

.item-row .item:first-child{
    width: 110%;
}

.item img{
    margin: 0 6px;
    cursor: pointer;
}

a{
    color: #A9A9A9FF;
}
.item-row:last-child{
    border-bottom: 0 solid #A9A9A9FF;
}


.order-card{
    border-radius: 16px;
    background-color: #ffffff;
    padding: 12px 1.5%;
    align-items: flex-start;
    box-shadow: #A9A9A9FF -1px 1px 3px -1px;
    margin-bottom: 12px;
}

.card-info{
    font-size: 1.23rem;
    font-weight: 500;
    text-align: center;
}

.card-info img{
    border-radius: 16px;
    height: 124px;
    border: 2px solid  #4a5568;
}

.card-body{
    color:  #4a5568;
    font-size: 1.15rem;
    width: 100%;
    margin-left: 18px;
}

.status{
    color: #fff;
    font-family: Lato;
    background-color: #4186ee;
    padding: 3px 12px 6px 12px;
    border-radius: 36px;
}
.status-r{
    background-color: #32C8A7;
}
.status-f{
    background-color: #eada2d;
}
.status-d{
    background-color: #d9192e;
}


.input-area{
    min-width: 100%;
    min-height: 120px;
}

.input-text{
    width: 100%;
    padding: 4px;
    border: unset;
    box-shadow: #8a8c90 0 0 2px;
    font-size: 1.1rem;
}


.button{
    border: unset;
    background-color: #32C8A7;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 4px 1.4%;
    border-radius: 6px;
}

.button:hover{
    box-shadow: #8a8c90 1px 1px 2px;
}

.button-2 {
    background-color: unset;
    color: #1a202c;
}

.button-2:hover{
    box-shadow: unset;
}


.input-text{
    width: 97%;
    padding: 4px;
    border: unset;
    box-shadow: #8a8c90 0 0 2px;
    font-size: 1.1rem;
}

.input-area{
    min-width: 96%;
    max-width: 96%;
}

.info-card{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-img{
    height: 48px;
    width: 48px;
    border: 3px solid #4186ee;
    border-radius: 50%;
}

.info-img-disconnected{
    border-color: #8a8c90;
}

.info-img-away{
    border-color: #eada2d;
}

.info-text{
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
}

.info-name{
    font-size: 1.1rem;
    color: #1a202c;
}

.info-job{
    font-size: 0.8rem;
}




#footer{
    border-top: 34px solid #32C8A7;
    height: 246px;
    background-color: #4a5568;
}
