#main{
    align-items: normal;
}

#message-view{
    width: 76%;
}

.message-block{
    width: 100%;
    font-family: Lato;
    font-size: 0.95rem;
    margin: 12px 0;
}

.sender{
    display: flex;
    justify-content: flex-end;
}

.message-block .message:first-child{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.message-block .message:last-child{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.message{
    width: fit-content;
    padding: 4px 8px;
    color: #1a202c;
    margin-bottom: 1px;
}

.message-sender{
    background-color: #32c8a7;
    color: #fff;
}




#input-actions{
    margin-left: 3%;
}
#input-actions .button{
    padding: 4px 12px;
}

.input-message{
    padding: 8px 1%;
}

.input-message input{
    width: 100%;
    border: unset;
    font-size: 1.1rem;
}

.input-message input:focus {
    outline: none;
}



#contact-view{
    /*border-left: 4px solid #32c8a7;*/
    border-radius: 0;
    padding: 0 1px;
    height: fit-content;
    margin: 0;
}
#contact-view .item-row {
    cursor: pointer;
}
.item-row{
    border-radius: unset;
}
#contact-view .item-row:hover{
    background-color: rgba(138, 140, 144, 0.11);
}

#contact-view .item-row:hover:first-child{
    background-color: #32c8a7;
}
