.task-title{
    margin: 100px 3% 0 3%;
}

h2{
    margin: 0 12px;
}
h4{
    margin: 0 28px;
    font-family: Lato;
    color: #A9A9A9FF;
}

.task{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: #A9A9A9FF;
    font-size: 1.05rem;
    margin: 20px 3%;
    padding-bottom: 14px;
}


.content{
    padding: 2px 2%;
}

